fastapi
uvicorn
gunicorn
sqlalchemy
asyncpg
aiosqlite
python-dotenv
google-generativeai
PyPDF2
python-multipart
pydantic
razorpay
bcrypt
httpx
beautifulsoup4
youtube-transcript-api
openai
groq
google-auth
google-api-python-client
pinecone
sse-starlette
